pkgbase = aws-nuke
	pkgdesc = Nuke a whole AWS account and delete all its resources.
	pkgver = 2.20.0
	pkgrel = 1
	url = https://github.com/rebuy-de/aws-nuke
	arch = x86_64
	license = MIT
	provides = aws-nuke
	options = !strip
	source = aws-nuke-2.20.0.tar.gz::https://github.com/rebuy-de/aws-nuke/releases/download/v2.20.0/aws-nuke-v2.20.0-linux-amd64.tar.gz
	sha512sums = 6b53c6ec3a523f67169f10790c3064597e2ea65bb4fe31e409c0e7cc1842dc3147591980c8d109466c90bb171b482266e5eef5579744136fab1ed62f328aa13f

pkgname = aws-nuke
